@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
* {
    box-sizing: border-box;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

button, li, a {
    font-family: "BalooTamma2",sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-link {
    list-style-type: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 30px;
}
.nav-link li a{
    transition: all .3s ease 0s;
}
.nav-link li a:hover{
    color: brown;
}
button{
    margin-left: 18px;
    background-color:  #f25022;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 1px 2px 1px lightsalmon;
    font-size: 16px;
    transition: all .3s ease 0s;
    color: linen;
    cursor: pointer;
}
button:hover{
    transition:  all 1s;
    box-shadow: 1px 2px 1px #DFEEEA;
    background-color: #A7C4BC;
    color: #2F5D62;
}